{% extends 'base.html' %}

{%block body%}

<!--header-->
<br>
<div class="text-center py-29 md:py-25 px-10 text-blue pd-10">
    <div class="container">
      <h1 class="relative who-we-are__heading text-4xl md:text-6xl font-bold inline-block px-15 md:px-12 color-type-1" style="color:#f05098">
          <span class="absolute bottom-6 left-0"></span>
          VARIETY
          
          <span class="absolute top-4 right-0"></span>
      </h1>
    </div>
  </div>


<!--picture widget-->
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2 px-3">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://source.unsplash.com/420x400/?icecreams');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Softy</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://source.unsplash.com/1200x900/?softy" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://source.unsplash.com/420x400/?icecream');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ice-Cream</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://source.unsplash.com/1200x900/?icecream" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://source.unsplash.com/420x400/?ice-cream);">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Casata</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://source.unsplash.com/1200x900/?casata" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<br>
<!--header 2-->
<div class="text-center py-29 md:py-30 px-10 text-blue pd-19">
    <div class="container">
      <h1 class="relative who-we-are__heading text-4xl md:text-6xl font-bold inline-block px-19 md:px-19 color-type-1" style="color:#f05098">
          <span class="absolute bottom-12 left-0"></span>
        FAMILY PACKS
          <span class="absolute top-4 right-0"></span>
      </h1>
    </div>
  </div>


  <!--picture widget 2-->
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2 px-3">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://source.unsplash.com/420x400/?icecream');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ice-cream pack</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://source.unsplash.com/1200x900/?creampacks" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://source.unsplash.com/420x400/?icecreams');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Family pack ice-cream</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://source.unsplash.com/1200x900/?icecream" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://source.unsplash.com/420x400/?ice-cream);">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Casata new range</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://source.unsplash.com/1200x900/?icecream" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<!--feature box3-->
<div class="container px-4 py-2" id="featured-3">
    
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col" style="padding-left: -70px;">
        
        <h3 class="fs-2 text-body-emphasis" style="color:#f05098">100% vegeterian</h3>
        <p>Our ice crem made with cow milk</p>
        <a href="/contact" class="icon-link">
          Connect with us
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">Premium quality with varieties</h3>
        <p>Over 31 premium, international flavours and toppings</p>
        <a href="/contact" class="icon-link">
            Contact Us
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col" style="padding-left: 70px;">
        <h3 class="fs-2 text-body-emphasis">Serve best</h3>
        <p>Rich ingredients</p>
        <a href="/contact" class="icon-link">
          Connect with us
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>

{%endblock body%}